<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>580683407393-37hiksij1cf7jh846i7h851cv2ph6fga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.580683407393-37hiksij1cf7jh846i7h851cv2ph6fga</string>
	<key>API_KEY</key>
	<string>AIzaSyBnFgeMDwrjSpySuaCqnbXo7W8rtwq13K8</string>
	<key>GCM_SENDER_ID</key>
	<string>580683407393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.EnglishNewsApp</string>
	<key>PROJECT_ID</key>
	<string>signup-ecc19</string>
	<key>STORAGE_BUCKET</key>
	<string>signup-ecc19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580683407393:ios:14e307f04b200051</string>
	<key>DATABASE_URL</key>
	<string>https://signup-ecc19.firebaseio.com</string>
</dict>
</plist>